{% extends "base.html" %}
{% block lab %} Лабораторная работа 4 {% endblock %}
{% block main %}
    <h3 style="text-align: center;">Формы (POST). Список сделанных страниц</h3>
    <div>Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab4/div-form">Деление</a>
        </li>
        <li>
            <a href="/lab4/mult-form">Умножение</a>
        </li>
        <li>
            <a href="/lab4/sum-form">Сложение</a>
        </li>
        <li>
            <a href="/lab4/sub-form">Вычитание</a>
        </li>
        <li>
            <a href="/lab4/exp-form/">Возведение в степень</a> 
        </li>
        <li>
            <a href="/lab4/tree">Дерево</a>
        </li>
        <li>
            <a href="/lab4/login/">Авторизация</a> 
        </li>
        <li>
            <a href="/lab4/fridge-form/">Холодильник</a> 
        </li>
        <li>
            <a href="/lab4/seed-form/">Заказ зерна</a> 
        </li>
        <li>
            <a href="/lab4/register/">Регистрация</a> 
        </li>
    </ol>
    <a href="/index">&#128072;</a>
{% endblock %}