{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    {% if authorized %}
        <h1>&#10024;Страница пользователя&#10024;</h1><br>
        <h2>Добро пожаловать, {{ name }}! &#128587;&#8205;&#9792;&#65039;</h2>
        <h3>Ваш пол: {{ gender }}</h3><br>

        <a href="/lab4/users">Посмотреть список пользователей &#128073;</a>

        <div>
            <form action="/lab4/logout" method="post">
                <button>&#128072; Выход</button>
            </form>
        </div>

    {% else %}
        <h1>Вход</h1>
        <h2>Пожалуйста, авторизуйтесь</h2>

        <form method="post">
            <div>
                <label>Логин:</label>
                <input type="text" id="login" name="login" value="{{ login }}">
            </div>

            <div>
                <label>Пароль:</label>
                <input type="password" id="password" name="password" value="{{ password }}">
            </div>

            <div class="error">{{ error }}</div>

            <div>
                <button type="submit">Войти</button>
                <button type="reset">Отмена</button>
            </div>
        </form>
        
        <a href="/lab4/register">Зарегистрироваться</a><br>
        <a href="/lab4/">&#128072;</a>
    {% endif %}
{% endblock %}
