{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    {% if pass_name and age and departure and destination and date and shelf and luggage is not none and bedding is not none and insurance is not none %}
    
    <h1>Привет, {{ pass_name }}!&#128587;&#8205;&#9792;&#65039;</h1>
    <h2>Детали вашего билета</h2>
    
    <div>Ваш возраст: {{ age }}</div>
    <div>Пункт отправления: {{ departure }}</div>
    <div>Пункт назначения: {{ destination }}</div>
    <div>Дата поездки: {{ date }}</div>
    <div>Тип полки: {{ shelf }}</div>
    <div>С багажом: {{ 'Да' if luggage else 'Нет' }}</div>
    <div>С постельным бельём: {{ 'Да' if bedding else 'Нет' }}</div>
    <div>Страховка: {{ 'Да' if insurance else 'Нет' }}</div>
    <div>Тип билета: {{ ticket_type }}</div>
    <div>Цена: {{ price }} руб.</div>

    <div>
        <a href="/lab3/form2/">Заполнить заново</a>
    </div>

    {% else %}

    <h1>Форма железнодорожного билета</h1>

    <form>
        <label>Ваше имя:</label>
        <div>
            <input type="text" placeholder="ФИО пассажира" name="pass_name" value="{{ pass_name or '' }}">
            <span class="error">{{ errors.pass_name }}</span>
        </div>

        <label>Ваш возраст:</label>
        <div>
            <input type="number" placeholder="Сколько вам лет?" name="age" min="1" max="120" value="{{ age or '' }}">
            <span class="error">{{ errors.age }}</span>
        </div>

        <label>Пункт отправления:</label>
        <div>
            <input type="text" placeholder="Пункт выезда" name="departure" value="{{ departure or '' }}">
            <span class="error">{{ errors.departure }}</span>
        </div>

        <label>Пункт назначения:</label>
        <div>
            <input type="text" placeholder="Пункт назначения" name="destination" value="{{ destination or '' }}">
            <span class="error">{{ errors.destination }}</span>
        </div>

        <label>Дата поездки:</label>
        <div>
            <input type="date" name="date" value="{{ date or '' }}">
            <span class="error">{{ errors.date }}</span>
        </div>

        <label>Выберите полку:</label>
        <div>
            <select name="shelf">
                <option value="lower" {{ shelf == 'lower' and 'selected' }}>Нижняя</option>
                <option value="upper" {{ shelf == 'upper' and 'selected' }}>Верхняя</option>
                <option value="lower_side" {{ shelf == 'lower_side' and 'selected' }}>Нижняя боковая</option>
                <option value="upper_side" {{ shelf == 'upper_side' and 'selected' }}>Верхняя боковая</option>
            </select>
            <span class="error">{{ errors.shelf }}</span>
        </div>

        <label>С багажом:</label>
        <div>
            <input type="checkbox" name="luggage" {% if luggage %}checked{% endif %}>
        </div>

        <label>С постельным бельём:</label>
        <div>
            <input type="checkbox" name="bedding" {% if bedding %}checked{% endif %}>
        </div>

        <label>Нужна страховка:</label>
        <div>
            <input type="checkbox" name="insurance" {% if insurance %}checked{% endif %}>
        </div>

        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>

    {% endif %}
    <a href="/lab3/">&#128072;</a>

{% endblock %}