{% extends "base.html" %}
{% block lab %} Лабораторная работа 3 {% endblock %}
{% block main %}
    <h3 style="text-align: center;">Формы, cookie</h3>
    <div>Привет, <span style="color: {{name_color}}">{{ name }}</span>!</div>
    <div>Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab3/cookie">Куки</a>
        </li>
        <li>
            <a href="/lab3/del_cookie/">Очистка Куки</a> 
        </li> 
        <li>
            <a href="/lab3/form1/">Форма</a> 
        </li>    
        <li>
            <a href="/lab3/order/">Заказ</a> 
        </li>
        <li>
            <a href="/lab3/settings/">Настройки</a> 
        </li> 
        <li>
            <a href="/lab3/form2/">Билет</a> 
        </li> 
        <li>
            <a href="/lab3/search/">Поиск товаров</a> 
        </li>  
    </ol>
    <a href="/index">&#128072;</a>
{% endblock %}