{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div>Пользователь: {{ name }}</div>
    <div>Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab5/login/">вход</a> 
        </li>   
        <li>
            <a href="/lab5/register/">регистрация</a> 
        </li>
        <li>
            <a href="/lab5/list/">список статей</a> 
        </li>
        <li>
            <a href="/lab5/create/">создать статью</a> 
        </li>
    </ol>
    <a href="/index">&#8656;</a>
{% endblock %}