body {
    background-color: #8FBC8F;
    margin: 0px;
    height: 100%;
    font-size: 16pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1, h2, h3 {
    text-align: center;
    font-family: cursive;
    color: rgb(85, 107, 47);
}
header {
    background-color: rgb(107, 142, 35); 
    color: #8FBC8F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px; 
    font-size: 16pt;
    margin: 0px;
}

footer {
    background-color: rgb(107, 142, 35);
    color: #8FBC8F;
    font-style: italic; 
    padding: 5px; 
    font-size: 12pt; 
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

div {
    margin-left: 20px;
    /* color: rgb(85, 107, 47); */
    /* text-decoration: none; */
}

a {
    color: rgb(85, 107, 47);
    text-decoration: none;
    font-weight: bold;
}
main {
    padding: 10px;
    /* color: rgb(85, 107, 47); */
}

table{
    border-color: rgb(12, 57, 18); 
    border-radius: 10px; 
    text-align: justify;
}

tr {
    border-color: rgb(12, 57, 18); 
    border-radius: 10px; 
}
td {
    padding-inline: 10px;
}
th{
    padding-inline: 10px;
}

img {
    margin-left: 30%;
}

input{
    border-radius: 10px;
    border-color: #75a075;
    background-color: #cfeacfa5;
    font-size: 14pt;
    font-family: cursive;
    cursor: pointer;
    margin: 1px;
    color: rgb(85, 107, 47);
}
button {
    margin: 5px;
    border-radius: 10px;
    border-color: #75a075;
    background-color: #b7dbb7bf;
    font-size: 14pt;
    font-family: cursive;
    cursor: pointer;
    color: rgb(85, 107, 47);
}

select {
    border-radius: 10px;
    border-color: #75a075;
    background-color: #cfeacfa5;
    font-size: 14pt;
    font-family: cursive;
    cursor: pointer;
    margin: 1px;
    color: rgb(85, 107, 47);
}

label {
    color: rgb(85, 107, 47); 
    font-family: cursive;
}